
#main {
    min-height: calc(100vh - (12em));
}


/* Remove the navbar's default rounded borders */ 
.navbar {
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 88vh;
}

/* Set black background color, white text and some padding */
footer {
    height: 5em;
    background-color: #555;
    color: white;
    padding: 15px;
    margin-top: 20px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {
        height:auto;    
    }
    #result {
        max-width: fit-content;
    }
    #map {
        max-width: -webkit-fill-available;
    }
}

/* On medium screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 1290px) {
    .sidenav {
    height: auto;
    padding: 15px;
    }
    .row.content {
        height:auto;    
    }
    #result {
        max-width: fit-content;
    }
    #map {
        max-width: -webkit-fill-available;
    }
}

/* In the beginning, hide this part of the website */
#hidden {
display: none;
justify-content: space-around;
}

/* Defines the style of the wikipedia answer's window */
#result {
display: inline-block;
width: 400px;
height: 400px;
background-color: ivory;
border: 2px solid black;
border-radius: 5px;
box-shadow: 6px 6px 6px black;
padding: 5px;
margin-right: 10px;
margin-top: 10px;
margin-left: 10px;
overflow: scroll;
}

/* Defines the style of the google map answer's window */
#map {
display: inline-block;
width: 400px;
height: 400px;
border: 2px solid black;
border-radius: 5px;
box-shadow: 6px 6px 6px black;
margin-left: 10px;
margin-top: 10px;
margin-right: 10px;
}

/* The loader style and animation */
.loader {
position: absolute;
left: 50%;
top: 50%;
z-index: 1;
width: 70px;
height: 70px;
margin: -75px 0 0 -75px;
border: 16px solid #f3f3f3;
border-radius: 50%;
border-top: 16px solid rgb(43, 121, 27);
width: 120px;
height: 120px;
-webkit-animation: spin 2s linear infinite;
animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
0% { -webkit-transform: rotate(0deg); }
100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
