<!DOCTYPE html>
<html lang='fr'>
  <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
      <title>GrandPyBot est perdu ...</title>
  </head>
  <body>
    <header>
      <img src="static/img/granpy.png" alt="Grand père robot">
      <p class="titre">Raconte moi une histoire GrandPyBot ..</p>
    </header>

    <main>
      <article>
        <img src="static/img/granpy_404.jpg" alt="erreur 404">
        <h2>Il n'y a rien ici ! On perd la boule GrandPy ?</h2>
      </article>
    </main>
    <footer>
      <p>
        Emmanuel Nocquet<br/>
        Parcours Python - Projet 07
      </p>
      <a href="https://github.com/tatsumanu/Projet_07">github.com/tatsumanu/Projet_07</a>
      <p>Powered by Flask</p>
    </footer>
  </body>
</html>